#popup-error-popover {
    right: 100%;
}

/* Reset SLDS handling of sibling pickers (fixes problem where first row doesn't align with subsequent) */
.slds-visual-picker + .slds-visual-picker {
    margin-left: .5rem;
}

.slds-visual-picker {
    margin-left: .5rem;
    margin-right: .5rem;
}